// Supports weights 100-900
@forward 'boilerplate';
@forward 'typography';
@forward 'colors';
@forward '@fontsource-variable/inter';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--color-dark-700);
  font-family: 'Inter Variable', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
