.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.block_link {
  width: 100%;
  height: 100vh;
  background: #000;
  color: white;
  padding: 100px 300px;
}


